/*No Media Query if its a Degrative approach*/
/*@media only screen and (min-width:1141px){ */
html, body{
  height:100%;
}
body{
	background-color:#fff;
}

/*HEADER CSS*/
header{
	width:100%;
	padding: .5em 0;
	background-color: #ffffff;
	position: fixed;
	z-index: 1;
}
.header-container{
	width: 1141px ;
	/* border:1px solid red; */
	margin: auto;
	font-family: sans-serif;
	text-transform: uppercase;
}
.nav{
	/* text-align: right; */
	float: right;
	margin-top: 50px;
	/* border:1px solid red; */
}
.nav-links li{
	display: inline;
	
}
.nav-links a{
	text-decoration: none;
	background-color: #452d6b; 
	color:#ffffff;
	/* font-size: 20pt; */
	padding:.5em;
	border-radius: .5em;
	margin: 0 5px;
}
.nav-links a:hover{
	background-color: black;
}
.nav-links a.active{
	background-color: #ecb540;
}
/*
.Header-main{
	margin-top: 50px;
	width: 100%;
	height: 200px;
	opacity: 2.0;
	background-color: #452f63;
}
img#church{
	width: 100%;
	height: 500px;
}
*/

/*BANNER*/
.banner{
	width:100%;
/*	border: 1px solid red;*/
	height: 98%; 
	
}
.banner-container{
	background-image: url('../images/Church_view.jpg');
	background-repeat: no-repeat;
	/*background-color: violet;
    background-blend-mode: screen multiply; */
	width:1141px;
	margin:0 auto;
	height:100%;
	position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color:#452f63;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
.banner-text{
	width:85%;
	text-align: center;
	/*vertical-align: middle; */
	margin-left: auto;
	margin-right: auto;
	position: relative;
	bottom: -250px;
	
}
.banner-text h1{
	font-size: 60pt;
	color:#ecb540;
}
.banner-text h3{
	font-size: 46pt;
	color:#ffffff;
}
.banner-text p{
	font-size: 26pt;
	color:#ffffff;
}
.button{ /*.banner-text */
	color:#ffffff;
	background-color:#ecb540;
	padding:.5em 1em;
	border-style: none;
	border-radius: .5em;
	font-size: 26pt;
	margin:50px 0px 0px 0px;
	cursor: pointer;
}
.smaller-button{
	color:#ffffff;
	background-color:#ecb540;
	padding:.5em 1em;
	border-style: none;
	border-radius: .5em;
	font-size: 14pt;
	margin:50px 0px 0px 0px;
	cursor: pointer;
}
#left{
	margin-top: 0;
}
/*
.banner-container > img{
	height: 80%;
	margin-left: auto;
	margin-right: auto;
}*/

/*whoami-container*/
.clear{
	clear:both;
}
.who{
	width: 100%;
}
.whoami-container{
	width: 1141px;
	margin: 1em auto;
	text-align: center;
	/* border:1px solid red; */
	overflow: hidden;
	
	
}
.whoami{
	/*
	-moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;*/
	width:30%;
	display:inline-block;
	padding:.5em 0 2em 0;
}
.whoami img{
	background-color: #452d6b;
	padding:2.5em;
	border-radius: 50%;
}
.whoami h4{
	color:#452d6b;
	font-size: 35px;
}
.whoami p{
	color:#252525;
	font-size: 20px;
}

/*MEET OUT PASTORS*/
.meet-our-pastor-container{
	width: 1141px;
	margin:0 auto;
	background-color: #452d6b;
	text-align: center;
	padding-top: 5em;
	padding-bottom: 1em;
	color:#ffffff;
	font-size: 20px;
}
.meet-our-pastor-container h3,.events-container h3{
	font-size: 28pt;
}
.pastors{
	width: 30%;
	display:inline-block;
	margin:0 auto;
}
/*UPCOMMING EVENTS*/
.events-container{
	width: 1141px;
	margin:0 auto;
	padding-top: 2em;
	color:#452d6b;
	font-size: 20px;
	text-align: center;
}
.event{
	display: inline-block;
	margin: auto;
	width: 30%;
}