/*No Media Query if its a Degrative approach*/
/*@media only screen and (min-width:1141px){ */
html, body{
  height:100%;
}
body{
	background-color:#fff;
}

/*HEADER CSS*/
header{
	width:100%;
	padding: .5em 0;
	background-color: #ffffff;
	position: fixed;
	z-index: 1;
}
.header-container{
	width: 1141px ;
	/* border:1px solid red; */
	margin: auto;
	font-family: sans-serif;
	text-transform: uppercase;
}
.nav{
	/* text-align: right; */
	float: right;
	margin-top: 50px;
	/* border:1px solid red; */
}
.nav-links li{
	display: inline;
	
}
.nav-links a{
	text-decoration: none;
	background-color: #452d6b; 
	color:#ffffff;
	/* font-size: 20pt; */
	padding:.5em;
	border-radius: .5em;
	margin: 0 5px;
}
.nav-links a:hover{
	background-color: black;
}
.nav-links a.active{
	background-color: #ecb540;
}
/*
.Header-main{
	margin-top: 50px;
	width: 100%;
	height: 200px;
	opacity: 2.0;
	background-color: #452f63;
}
img#church{
	width: 100%;
	height: 500px;
}
*/

/*BANNER*/
.banner{
	width:100%;
/*	border: 1px solid red;*/
	/*height: 98%;*/ 
	height: 623px;
}
.banner-container{
	background-image: url('../images/Church_view.jpg');
	background-repeat: no-repeat;
	/*background-color: violet;
    background-blend-mode: screen multiply; */
	width:1141px;
	margin:0 auto;
	/*height:100%;*/
	height: 623px;
	position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color:#452f63;
  width: 100%;
  height: 623px;
  /*height: 100%;*/
  opacity: 0.9;
}
.banner-text{
	width:85%;
	text-align: center;
	/*vertical-align: middle; */
	margin-left: auto;
	margin-right: auto;
	position: relative;
	bottom: -250px;
	
}
.banner-text h1{
	font-size: 60pt;
	color:#ecb540;
}
.banner-text h3{
	font-size: 46pt;
	color:#ffffff;
}
.banner-text p{
	font-size: 26pt;
	color:#ffffff;
}
.button{ /*.banner-text */
	color:#ffffff;
	background-color:#ecb540;
	padding:.5em 1em;
	border-style: none;
	border-radius: .5em;
	font-size: 26pt;
	margin:50px 0px 0px 0px;
	cursor: pointer;
}
.smaller-button{
	color:#ffffff;
	background-color:#ecb540;
	padding:.5em 1em;
	border-style: none;
	border-radius: .5em;
	font-size: 14pt;
	margin:50px 0px 0px 0px;
	cursor: pointer;
}
.Nav-Buttons{
	top: 113em;
	display: block;
	/*margin: auto;*/
	margin: 20px;
	margin-bottom: 5px; 
}
.Nav-Buttons #left{
	border-radius: 6px;
	width: 47px;
	text-align: center;
}
.Nav-Buttons #right{
	border-radius: 6px;
	width: 47px;
	text-align: center;
}
/*
.banner-container > img{
	height: 80%;
	margin-left: auto;
	margin-right: auto;
}*/

/*whoami-container*/
.clear{
	clear:both;
}
.who{
	width: 100%;
}
.whoami-container{
	width: 1141px;
	margin: 1em auto;
	text-align: center;
	/* border:1px solid red; */
	overflow: hidden;
	
	
}
.whoami{
	/*
	-moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:        border-box;*/
	width:30%;
	display:inline-block;
	padding:.5em 0 2em 0;
}
.whoami img{
	background-color: #452d6b;
	padding:2.5em;
	border-radius: 50%;
}
.whoami h4{
	color:#452d6b;
	font-size: 35px;
}
.whoami p{
	color:#252525;
	font-size: 20px;
}

/*MEET OUT PASTORS*/
.meet-our-pastor-container{
	width: 1141px;
	margin:0 auto;
	background-color: #452d6b;
	text-align: center;
	padding-top: 5em;
	padding-bottom: 1em;
	color:#ffffff;
	font-size: 20px;
}
.meet-our-pastor-container h3,.events-container h3{
	font-size: 28pt;
}
.meet-our-pastor-container  p{
	padding:1em 4em;	
}
.pastors{
	width: 30%;
	display:inline-block;
	margin:0 auto;
}
/*UPCOMMING EVENTS*/
.events-container{
	width: 1141px;
	margin:0 auto;
	padding-top: 2em;
	color:#452d6b;
	font-size: 20px;
	text-align: center;
}
.event{
	display: inline-block;
	margin: auto;
	width: 30%;
}
/*************************************************SERMONS SECTION*********************************************************/


.church-sermons{
	width: 100%;
	/*
	margin:0 auto;
	background-color: #452d6b;
	text-align: center;
	padding-top: .5em;
	padding-bottom: 1em;
	color:#ffffff;
	font-size: 20px;
	margin-top: 20px;*/
}

.sermon-container{
	width: 1141px;
	background-color: #452d6b;
	text-align: center;
	padding-top: .5em;
	padding-bottom: 1em;
	color:#ffffff;
	font-size: 20px;
	margin-top: 20px;
	margin-left:auto;
	margin-right:auto;
	/*margin:auto;*/
	/*display: inline-block;*/
	
}
.sermon-container #heading{
	margin-top: .5em;
	text-align: center;
	font-size: 34pt;
	padding-bottom: 20px;
	
}
.sermon-container-left{
	 text-align: center;
    /* float: left; */
    display: inline-block;
    /* margin-left: 5px; */
    width: 48%;
}
.inform{
	position: relative;
	/*margin-left: 37px;*/
	margin: 0 auto;
	/*width: 65%;*/
	width:70%;
	text-align: center;
}
.welcome{
	padding-bottom: 12px;
}
#demo, #demo2{
	padding-bottom: 12px;
}
.sermon-container #upcoming-sermon{
 	font-size: 24pt;
 	padding-bottom: 27px;
    /*margin-top: 35px;*/
    /* margin-left: 20px; */
    /* width: 50%; */
}
.left-hr{
	/*padding-top: 2px;*/
	/*width: 70%;*/
	clear: both;
	/*margin-left: 07px; */
	width: 70%;
}
.sermon-container h5{
	color: #ecb540;
}
.date{
	float:left;
}
.paragrapgh{
	padding-bottom: 10px;
}
.name-of-pastors{
	float:left; 
	margin-left: 30px;
}
.date-left{
	float: left;
    display: inline-block;
}
.name-of-pastors-left{
	 /* float: left; */
    /* width: 20%; */
    /* margin-left: 40px; */
    display: inline-block;
    margin-left: .5em;
}
.sermon-button{
	color:#86582e;
	background-color:#ecb540;
	padding:.5em 1em;
	border-style: none;
	border-radius: 20px;
	font-size: 12pt;
	/*margin-top: 30px;*/
	/*margin-left: 9em;*/
	cursor: pointer;
}


/***********Right Container**********/

.sermon-container-right{
	text-align: center;
    vertical-align: top; 
    /*margin-right: 5px;*/
    /*float: right; */
	width: 48%;
	display:inline-block;
/*	border:1px solid red;*/
}
.sermon-container-right #latest-sermon{
	font-size: 24pt;
	/*margin-top: 35px;*/
	/*margin-left: 4em;*/
	/*width: 50%;*/
	padding-bottom: 27px;
}
#demo3{
	text-align: center;
	float: right;
	margin-left:100px
}
#demo4{
	text-align: center;
	float: right;
	margin-left:100px
}
/*SERMON IMAGES*/
.sermon-pastor::before{
	/*content:url('../images/sermon_body.png');*/
	/*Fix here*/
	background-image: url(../images/sermon_body.png);
	background-repeat: no-repeat;
    background-size: 20px 20px;
    display: inline-block;
    width: 22px;
    height: 20px;
    content: "";
}
.sermon-pastor{
/*	padding:1em 0em;*/
}
.sermon-date::before{
	/*content:url('../images/sermon_globe.png');*/
	background-image: url(../images/sermon_globe.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
}
.sermon-date-left{
/*	padding:1em 0em;*/
}
.sermon-date-left::before{
	/*content:url('../images/sermon_globe.png');*/
	background-image: url(../images/sermon_globe.png);
    background-size: 20px 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    content: "";
}
.posts{
	text-align: center;
	/*position: relative;*/
/*	margin-right: 30px;*/
}

.right-hr{
	/*
	width: 90%;
	margin-left: 20px;
	margin-right: 10px; 
	*/
	 width: 70%;
}
.media-buttons{
	text-align: center;
  	display: inline-block;
  	padding-bottom: 10px;
}
.audio-button{
	color:#86582e;
	background-color:#ecb540;
	padding:.5em 1em;
	margin-right: 16px;
	border-style: none;
	border-radius: 20px;
	font-size: 12pt;
	margin-top: 30px;
	margin-bottom: 10px;
	/*margin-left: 9em;*/
	cursor: pointer;
}
.video-button{
	color:#86582e;
	background-color:#ecb540;
	padding:.5em 1em;
	border-style: none;
	border-radius: 20px;
	font-size: 12pt;
	margin-top: 20px;
	/*margin-left: 9em;*/
	cursor: pointer;
}
.all-sermon-button{
	width:50%;
	text-align: center;
	display: block;
	margin:auto;
	/*padding-top: 15px;*/
}
.all-sermons{
	color:#86582e;
	background-color:#ecb540;
	padding:.5em 1em;
	border-style: none;
	border-radius: 20px;
	font-size: 14pt;
	cursor: pointer;
}

/**************************About US Section***********************************/

.about-us-container{
	width:1141px;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	color:#452d6b;
	font-size: 14px;
	margin-top: 20px;
	/*display: block;*/
	margin: auto;

	/*background-image: url(http://kingofwallpapers.com/background-images-for-websites/background-images-for-websites-016.jpg);
	opacity:1.0;*/
}
#about-us-section{
	padding: .5em 2em;
	padding-bottom: 1em;
	font-size: 35px;
}
#about-information{
	width:1141px;
	display: block;
	margin:auto;
	text-align: center;
	padding-bottom: 2em;
	font-size:20px;
}
.video-container{
	width:100%;
	/*box-shadow: 10px 10px 5px #888888;*/
}
.advertising-container{
	padding-top: 2em;
	width: 1141px;
	margin: 1em auto;
	text-align: center;
	overflow: hidden;
}
.stars{
	width:30%;
	display:inline-block;
	padding:.5em 0 2em 0;
	
}
.stars img{
	background-color: #452d6b;
	padding:2.5em;
	border-radius: 100%;
}
.stars h4{
	color:#452d6b;
	font-size: 35px;
}
.stars p{
	color:#252525;
	font-size: 20px;
}

/*CONTACT US SECTION*/
.contact-us{
	width:100%;
}
.contact-us-container{
	width:1141px;
	margin:0 auto;
	text-align:center;
	/*border:1px solid red; */
	color:#ffffff;
	background-color:#452d6b;
	
} 
.contact-us-container h4{
	font-size: 25pt;
	padding: 1.2em 0;
}
.contact-us-container p{
	font-size: 20pt;
	padding:.5em 1em;
}
.contact-us-container > .address:before{

}

.form-col{
	display:inline-block;
/*	border:1px solid red; */
	width:40%;
	vertical-align:top;
	margin:2em;

}
.form-col >div> input, .form-col >div>textarea{
	box-sizing: border-box;
	background-color:#31204d;
	width:90%;
	color:#ffffff;
	padding:1em 3em;
	border-style:none;
	border-radius:1em; 
	font-size:10pt;
	margin:1em 0;
}
.form-col >div> input[type="submit"]{
	background-color:#ecb540;
	cursor:pointer;
	color:#86582e;
	width:35%;
	padding:1em;
	display: block;
    float: right;
    clear: both;
    margin-right:1.5em;
}
.address::before{
	/*content:url('../images/location.png');*/
	background-image: url('../images/location.png');
	background-size: 20px 30px;
    display: inline-block;
    width: 20px; 
    height: 30px;
    content:"";
    vertical-align: middle;
}
.address, .telephone, .contact-email{
	margin-right: 30px;
}
.telephone::before{
	/*content:url('../images/telephone.png');*/
	background-image: url('../images/telephone.png');
	background-size: 25px 25px;
    display: inline-block;
    width: 25px; 
    height: 25px;
    content:"";
    vertical-align: middle;
}
.contact-email::before{
	/*content:url('../images/message_2.png');*/
	background-image: url('../images/message_2.png');
	background-size: 25px 25px;
    display: inline-block;
    width: 25px; 
    height: 25px;
    content:"";
   	vertical-align: middle;
}
#name{
	background-image:url('../images/body.png');
	background-repeat: no-repeat;
}
#email{
	background-image:url('../images/message.png');
	background-repeat: no-repeat;
	vertical-align: middle;
}
#subject{
	background-image:url('../images/globe.png');
	background-repeat: no-repeat;
	vertical-align: middle;
}
#message{
	background-image:url('../images/pin.png');
	background-repeat: no-repeat;
}

/*
*
*
*FOOTER STYLES
*
*/
.footer{
	width: 1141px;
	margin: 0 auto;
	text-align: center;
}
.footer-social-icons span a img{
	padding:1em;
	background-color: #5d487f;
	border-radius: 50%;
	margin:2.5em;
}
/*FOOTER LINKS*/
.footer-links p{
	display: inline;

}
.footer-links{
	width: 80%;
	margin:0 auto;
}
.footer-links p a{
	text-decoration: none;
	border-left:1px solid #c79439;
	border-right:1px solid #c79439;
	color:#c79439;
	padding:.5em;
	font-size: 25px;
	margin:0;
}
.footer-links > p .home{
	border-left:none;
}
.footer-links > p .about-us{
	border-left:none;
}
.footer-links > p .sermons{
	border-left:none;
}
.footer-links > p .events{
	border:none;
}
.copy-right{
	background-color: #452d6b;
	color:#ffffff;
	margin-top: 2em;
	padding:2em;
}
/*SOCIAL ICON EFFECTS*/
#facebook img:hover{
	background-color: #3b5998;
}
#twitter img:hover{
	background-color: #0084B4;
}
#instagram img:hover{
	background-color: #9e6f4f;
}
#pinterest img:hover{
	background-color: #bd081c;
}