/*@media only screen and (max-width:320px) if its a Degrative approach*/

@media only screen and (max-width:320px){
/*------Prevents iphone from resizing in landscape mode ------*/
html {-webkit-text-size-adjust:none;}

/*------------ apply a natural box layout model to all elements ------------*/
*{-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}

}